@charset "utf-8";

.gm-style-iw {
	
	position:absolute !important;
	width:200px !important;
	padding-left: 8px !important;
	max-width:200px !important;
padding-top: 5px !important;
padding-bottom: 0px !important;
}

#mapView{
	width:100%;
	height:560px;
}
